<!doctype html>
<html class="no-js" lang="zxx">

    <!--Mainmenu-area/-->



    <!--Header-area-->
    <header class="header-area overlay full-height relative v-center" id="home-page">
        <div class="absolute anlge-bg"></div>
        <div class="container">
            <div class="row v-center">
                <div class="col-xs-12 col-md-7 header-text">
                    <h2>Bienvenue dans notres sites</h2>
                    <p>la team vous présente le site de foret, vous pourrez recherchez via un apli map les lieux les plus fréquentez de parc,foret sur lyon et au alentour et soutenir l'equipe en achetant nos photo de foret.</p>
                </div>               
            </div>
        </div>
    </header>
    <!--Header-area/-->



    <!--Feature-area-->
    <section class="gray-bg section-padding" id="service-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="box">
                        <div class="box-icon">
                            <%=image_tag("header.jpeg")%>
                        </div>
                        <h4>FACILE D'UTILISATION</h4>
                        <p>Tu as juste à allez à la page places si tu est connecter,et de clique sur voit la carte.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="box">
                        <div class="box-icon">
                        <%=image_tag("aze.jpg")%>
                        </div>
                        <h4>LE DESIGN</h4>
                        <p>Le DESIGN est simple tout en étant a notre époque.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="box">
                        <div class="box-icon">
                        <%=image_tag("crop.jpg")%>
                        </div>
                        <h4>FACILEMENT PERSONALISABLE</h4>
                        <p>Avec notre site tu peux facilement indiquez les lieux que tu connais en créant une new place. Amuse toi!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Feature-area/-->

    <section class="angle-bg sky-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="caption_slide" class="carousel slide caption-slider" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active row">
                                <div class="v-center">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-title" data-animation="animated fadeInUp">
                                            <h2>CONNECTE TOI</h2>
                                        </div>
                                        <div class="caption-desc" data-animation="animated fadeInUp">
                                            <p>Si tu es connectez,tu pourras accedez à la page place pour voir les lieux et avoir ton propre panier bien sur si tu veux soutenir l'équipe tu n'est pas obliger .</p>
                                        </div>
                                        <div class="caption-button" data-animation="animated fadeInUp">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="caption-photo one" data-animation="animated fadeInRight">
                                        <%=image_tag("crop.jpg")%>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="caption-photo two" data-animation="animated fadeInRight">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item row">
                                <div class="v-center">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-title" data-animation="animated fadeInUp">
                                            <h2>ACCESSIBILITE</h2>
                                        </div>
                                        <div class="caption-desc" data-animation="animated fadeInUp">
                                            <p>Une fois connecté go sur la page place et clique sur le lieux que tu veux voir</p>
                                        </div>
                                        <div class="caption-button" data-animation="animated fadeInUp">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="caption-photo one" data-animation="animated fadeInRight">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="caption-photo two" data-animation="animated fadeInRight">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item row">
                                <div class="v-center">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-title" data-animation="animated fadeInUp">
                                            <h2>THP</h2>
                                        </div>
                                        <div class="caption-desc" data-animation="animated fadeInUp">
                                            <p>En plein jour ou dans la nuit noire
                                            Nul mal n’échappe à mon regard
                                            Que ceux qui devant la dureté de THP  se prosternent
                                            Craignent la lumière de la team vert !</p>
                                        </div>
                                        
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="caption-photo one" data-animation="animated fadeInRight">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="caption-photo two" data-animation="animated fadeInRight">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item row">
                                <div class="v-center">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-title" data-animation="animated fadeInUp">
                                            <h2>TEAM VERT</h2>
                                        </div>
                                        <div class="caption-desc" data-animation="animated fadeInUp">
                                            <p>Fait par Durban kenadi, Boumediene  Salim et Saghour Khalil</p>
                                        </div>
                                        <div class="caption-button" data-animation="animated fadeInUp">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="caption-photo one" data-animation="animated fadeInRight">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="caption-photo two" data-animation="animated fadeInRight">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Indicators -->
                        <ol class="carousel-indicators caption-indector">
                            <li data-target="#caption_slide" data-slide-to="0" class="active">
                                <strong>Connecte toi </strong>Clique ici.
                            </li>
                            <li data-target="#caption_slide" data-slide-to="1">
                                <strong>Facilement accessible </strong>consectetur adipisicing elit.
                            </li>
                            <li data-target="#caption_slide" data-slide-to="2">
                                <strong>Team THP </strong>consectetur adipisicing elit.
                            </li>
                            <li data-target="#caption_slide" data-slide-to="3">
                                <strong>Team vert </strong>consectetur adipisicing elit.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="gray-bg section-padding" id="feature-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>SE QUI SE PASSE A LYON</h2>
                        <p>Ici se qui se passe dans vos parc a lyon</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                        <%=image_tag("cour.jpeg")%>
                        </div>
                        <h3>PARC PARILLY</h3>
                        <p>Un coureur tombe et se fracture la jambe à cause d'une motocycléte il port plainte</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                        <%=image_tag("timon.jpg")%>
                        </div>
                        <h3>Parc de la tete d'or</h3>
                        <p>Timon et Pumba sont retourne dans leur enclos apres une petite balade entre amie</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                        <%=image_tag("soi.jpg")%>
                        </div>
                        <h3>PARC MIRIBEL JONAGE</h3>
                        <p>Un oiseaux non identifié activement recherchez pour avoir volez du pain a un group de perssone agée</p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>




    <section class="price-area overlay section-padding" id="price-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>description photo</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="price-table">
                        <h3 class="text-uppercase price-title">PHOTO</h3>
                        <hr>
                        <ul class="list-unstyled">
                            <li><strong class="amount">$ <span class="big">20</span></strong>/Photo</li>
                            <li>Va dans le magasin pour voir les solde</li>
                            <li>Design</li>
                            <li>tel support</li>
                            <li>Webmail Support</li>
                        </ul>
                        <hr>
                        <h3 class="text-uppercase price-title">Va à la page magasin</h3>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="price-table active">
                        <span class="price-info"><span class="ti-crown"></span></span>
                        <h3 class="text-uppercase price-title">PHOTO</h3>
                        <hr>
                        <ul class="list-unstyled">
                            <li><strong class="amount">$ <span class="big">39</span></strong>/Photo</li>
                            <li>Va dans le magasin pour voir les solde</li>
                            <li>Design</li>
                            <li>tel support</li>
                            <li>Webmail Support</li>
                        </ul>
                        <hr>
                        <h3 class="text-uppercase price-title">Va à la page magasin</h3>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="price-table">
                        <h3 class="text-uppercase price-title">PHOTO</h3>
                        <hr>
                        <ul class="list-unstyled">
                            <li><strong class="amount">$ <span class="big">59</span></strong>/Photo</li>
                            <li>Va dans le magasin pour voir les solde</li>
                            <li>Design</li>
                            <li>tel support</li>
                            <li>Webmail Support</li>
                        </ul>
                        <hr>
                        <h3 class="text-uppercase price-title">Va à la page magasin</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="section-padding gray-bg" id="team-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>Team vert</h2>
                        <p>Je vous présente notre team</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single-team">
                        <div class="team-photo">
                            <img src="images/team-section-1.png" alt="">
                        </div>
                        <h4>SALIM BOUMEDIENE</h4>
                        <h6>Co. Founder</h6>
                        <ul class="social-menu">
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="#"><i class="ti-linkedin"></i></a></li>
                            <li><a href="#"><i class="ti-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single-team">
                        <div class="team-photo">
                            <img src="images/team-section-2.png" alt="">
                        </div>
                        <h4>DURBAN KENADI</h4>
                        <h6>UX Designer</h6>
                        <ul class="social-menu">
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="#"><i class="ti-linkedin"></i></a></li>
                            <li><a href="#"><i class="ti-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single-team">
                        <div class="team-photo">
                            <img src="images/team-section-3.png" alt="">
                        </div>
                        <h4>KHALIL SAGHOUR</h4>
                        <h6>Founder</h6>
                        <ul class="social-menu">
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="#"><i class="ti-linkedin"></i></a></li>
                            <li><a href="#"><i class="ti-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonial-area section-padding gray-bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>Client says</h2>
                        <p>Se que les client dise de nous</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="testimonials">
                        <div class="testimonial">
                            <div class="testimonial-photo">
                                <img src="images/avatar-small-6.png" alt="">
                            </div>
                            <h3>AR Rahman</h3>
                            <p>Très beau site, je valide.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






    <section class="gray-bg section-padding" id="faq-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>Questions Fréquente </h2>
                        <p>Je peux pas acheter de photo si je ne suis pas connecté?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>

</html>
