<div class = "places">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>
 
 
<h2>Comments</h2>
<% @comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <%= link_to 'Destroy Comment', [comment.place, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<% end %>

<h2>Add a comment:</h2>
<%= form_with(model: [ @place, @place.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', places_path, class: "button" %>

<p>
    <div id="map"></div>
</p>

<div id="directions-panel"></div>

<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      initMap(<%=@place.latitude%>, <%=@place.longitude%>)
    });
  </script>
<% end %>
</div>